<div class="row mx-0">
  <div class="col-12 px-1">
    <div class="col-12 mt-2">
      <h4 class="fw-bold" id="accueil">
        <span class="text-capitalize">orientations&nbsp;</span> et&nbsp;
        <span>perspectives</span>
      </h4>
      <h5 class="fw-bold" [id]="orientationPerspectives.children">Vision</h5>

      <p>La vision de Mme le Maire est de mettre en place les bases d’une émergence économique avec une société saine,
        solidaire, éduquée et ancrée sur ses valeurs culturelles dans un cadre de vie amélioré et de respect des
        exigences
        d’une gouvernance locale participative.
      </p>
    </div>
    <div>
      <h5 class="fw-bold" id="objectifs">Objectifs du développement</h5>
      <div>

        <h6 class="fw-bold">Objectif général</h6>
        <p>Améliorer la gouvernance locale et promouvoir un développement durable et concerté par la mise en place de
          conditions de rupture avec les principaux facteurs de réduction de la pauvreté.
        </p>
      </div>
      <div>

        <h6 class="fw-bold">Objectifs spécifiques</h6>
        <ul>
          <li>Faciliter l’accès aux services sociaux de base de qualité ;</li>
          <li>Améliorer le cadre de vie en éliminant et/ou en contrôlant toutes les causes de dégradation de
            l’environnement ;
          </li>
          <li>Promouvoir le développement local par la création d’activités pérennes et génératrices de
            revenus ;</li>
          <li>Renforcer les capacités de tous les acteurs de développement locaux ;</li>
          <li>Améliorer le niveau de vie des populations</li>
        </ul>
      </div>
      <div>
        <h5 class="fw-bold" id="perspectives">Des projets en persepective</h5>
        <ul>
          <li>Unité de tri de déchet</li>
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">

                <img src="assets/images/tri-gs.PNG" style="width: 55%;" alt="carte de délimitation des quartiers de commune de Golf-Sud">
              </div>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>
</div>
