<header class="navbar sticky-top flex-md-nowrap p-0 bg-gs">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-gs text-uppercase" [routerLink]="''"
    style="color: #ffffff;font-size: 18px;font-weight: bold;">
    <span class="d-flex flex-wrap align-items-center justify-content-center">
      <span>commune&nbsp;</span><span>de&nbsp;</span><span>Golf&nbsp;</span><span>Sud</span></span>
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"  (click)="handleClick()">
    <span class="navbar-toggler-icon"></span>
  </button>

</header>
