<div class="row mx-0">
  <div class="col-12 px-1">
    <div class="col-12 mt-2">
      <h4 class="fw-bold" id="accueil"><span class="text-capitalize">bilan&nbsp;</span><span
          class="text-capitalize">diagnostic</span></h4>
      <h5 class="fw-semibold" id="profil-social">
        <span class="text-capitalize">profil&nbsp;</span>
        <span class="text-capitalize">social</span>
      </h5>
      <p>Le diagnostic social fait l’état des lieux de la situation sociale de la commune. Il formalise les
        composantes du milieu, la vie communale, l’état des forces sociales en présence, les ressources
        disponibles, les contraintes et problèmes majeurs vécus, etc. </p>
      <h6 id="education">Éducation</h6>
      <p>L’instruction, l’éducation et la formation des enfants sont garanties par les chartes du pays
        (constitution, lois, traités internationaux, etc.) mais l’accès aux services scolaires constitue un véritable
        casse-tête pour les parents partagés entre la nécessité d’investir sur l’avenir de leurs enfants et les
        besoins immédiats en matière de nourriture, de santé, de logement, etc.</p>
      <p>Le produit de l’éducation formelle (capital humain) est utile dans le fonctionnement des localités parce
        que l’accroissement du capital humain contribue au même titre que l’accroissement du capital
        physique à la croissance économique de long terme. </p>
      <p>Sur le plan académique, Golf Sud constitue le District Pédagogique N°1 de l’Inspection d’Education et
        de Formation de Guédiawaye. Il compte 145 structures scolaires dont les 83% sont des privées soit 91
        écoles privées (maternelles, élémentaires et moyens confondus) alors que 21% sont des publiques soit
        24 écoles publiques. </p>
      <p>Ces chiffres révèlent le déficit d’écoles publiques dans la commune de Golf-Sud. Le nombre d’écoles
        privées ainsi que leur croissance montrent l’importance de la demande en éducation qui n’est pas
        résorbée par les écoles publiques tant en quantité qu’en qualité. </p>
      <p>La commune compte quarante-deux (42) écoles maternelles dont les 88% sont privées, cinquante (50)
        écoles primaires dont 72% sont privées et vingt-trois (23) écoles de niveau moyen-secondaire dont les
        78% sont privées. Ces chiffres montrent le déficit d’écoles publiques dans la commune de Golf-Sud.
      </p>
      <p>L’enseignement religieux occupe une place importante au sein de la commune du fait que la
        majorité des populations de la commune sont des musulmans. Les daaras sont des lieux d'éducation,
        d'apprentissage et d’initiation au travail. L’objectif du daara est d’inculquer aux enfants des valeurs
        sociales et religieuses essentielles afin qu'ils puissent bien mener.
      </p>

      <div class="d-flex align-items-center justify-content-center flex-column">
        <img class="w-50" src="assets/images/carte-scolaire-commune-golf.PNG" style="width: 55%;"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p>Carte scolaire de la commune de Golf-Sud</p>
      </div>

      <h6>Les projets de la Mairie :</h6>
      <ul>
        <li>La réhabilitation et la modernisation de l’existant ;</li>
        <li>La construction de trois(3) écoles préscolaires à cycle complet et de classes communautaires
          et les équiper ;</li>
        <li>La prise en charge du personnel ;</li>
        <li>La mise en place de cantines préscolaires ;</li>
        <li>La construction de rampes pour les enfants vivant avec un handicap </li>
        <li>Créer un centre polyvalent de formation professionnelle</li>
        <li>Installer un village des métiers</li>
      </ul>
      <p>Le cycle élémentaire de la commune de Golf-Sud compte 14 écoles publiques, qui accueillent
        58% des élèves, et 36 établissements privés qui reçoivent 48% des élèves. </p>
      <p>La commune est confrontée à une absence de statut des daaras traditionnels, une installation
        anarchique de daaras traditionnels et une situation précaire des talibés.
      </p>
      <div class="mt-2 ">
        <p>Etat actuel des écoles :</p>
        <img class="w-50" src="assets/images/etat-ecole-golf-sud.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>
      <div class="mt-2 ">
        <p>Nous tendons vers :</p>
        <img class="w-50" src="assets/images/vision-ecole.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>
      <div class="mt-2 text-center">
        <img class="w-50" src="assets/images/cartographie-ecole-gs.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p class="fw-bold">Cartographie des établissements scolaires de Golf-Sud</p>
      </div>

      <h6>Santé, hygiène et prévention</h6>
      <h6>Santé</h6>
      <p>La commune de Golf-Sud est dotée de plusieurs structures sanitaires dont un hôpital national (Dalal
        Jamm) non encore fonctionnel, un centre de santé communautaire, quatre (4) postes de santé publics,
        une polyclinique privée, des cliniques privées, deux maternités publiques et des maternités privées.
        Golf Sud est toutefois moins lotie du point de vue du nombre en centre de santé, en postes de santé, et
        en maternités.</p>
      <p>Les normes de l'OMS en matière de personnel sont d'un médecin pour 5.000 à 100.000 habitants, un
        infirmier pour 300 habitants et une sage-femme pour 300 femmes en âge de reproduction.
        Projets :</p>
      <ul>
        <li>la création d’un centre de santé, </li>
        <li>renforcement en matériels de santé, </li>
        <li>l’acquisition d’une ambulance médicalisée</li>
        <li>la réhabilitation des infrastructures,</li>
      </ul>

      <div class="mt-2">
        <p>Etat actuel des établissements de santé :</p>
        <img class="w-50" src="assets/images/etat-sante-actuel-gs.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>
      <div class="mt-2">
        <p>Nous tendons vers :</p>
        <img class="w-50" src="assets/images/vision-sante.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>
      <div class="mt-2 text-center">
        <img class="w-50" src="assets/images/cartographie-sante-gs.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p class="fw-bold">Cartographie des établissements de santé de Golf-Sud</p>
      </div>
      <h6 class="fw-bold">Assainissement et cadre de vie</h6>
      <h6 class="fw-bold">Assainissement</h6>
      <p>La commune est pourvue d’un réseau d’assainissement des eaux usées. On note toutefois des
        insuffisances dans le traitement des ordures, la dépollution de sites larvaires, le désensablement des
        rues ainsi que la réfection de certaines routes bitumées.</p>
      <p>Pour sauvegarder l’assainissement, la Mairiee et les populations ont proposé l’élaboration d’un
        programme de formation sur le traitement des ordures, la généralisation du réseau d’égoûts, la
        désinsectisation périodique des sites larvaires, la construction de pavés dans les axes routiers,
        l’acquisition d’équipements comprenant deux hydro-cureurs, deux camions entasseurs, deux pelles
        mécaniques. A cela s’ajoute l’aménagement des points bas.
      </p><br>
      <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne de l’assainissement</h6>
      <div class="table-responsive d-flex justify-content-center">
        <table class="table table-bordered table-striped w-50" style="height: 50vh;">
          <thead>
            <tr class="bg-gs">
              <th>Domaines</th>
              <th>Contraintes</th>
              <th>Potentialités</th>
              <th>Orientations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableDiagnostic;let index = index">
              <td rowspan="5" *ngIf="index == 0" class="bg-gs" style="position: relative;">
                <div class="d-flex justify-content-center align-items-center fw-bold" style="width: 100%;">
                  Assainissement
                </div>
              </td>
              <td>{{item.contraintes}}</td>
              <td>{{item.potentialites}}</td>
              <td>{{item.orientations}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img class="w-50" src="assets/images/camion-hydrocarbure.PNG"
            alt="carte de délimitation des quartiers de commune de Golf-Sud">
          <p class="fw-bold">CAMION HYDROCUREUR</p>
        </div>
        <div class=" col-sm-6 text-center">
          <img class="w-50" src="assets/images/caminon-balayeur.PNG"
            alt="carte de délimitation des quartiers de commune de Golf-Sud">
          <p class="fw-bold">CAMION BALAYEUR</p>
        </div>
        <div class="col-sm-6 text-center">
          <img class="w-50" src="assets/images/benneu-tasseuse.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
          <p class="fw-bold">BENE TASSEUSE</p>
        </div>
      </div>

      <h6 class="fw-bold">Cadre de vie</h6>
      <p>L’inexistence de jardins et places publics, l’encombrement de la voie publique, la forte pollution
        sonore, l’extraction du sable marin, l’installation de garages et ateliers non autorisés, l’insalubrité des
        marchés, la prolifération des véhicules hippomobiles, la divagation des animaux constituent les fléaux
        qui détériorent le cadre de vie de la commune.
      </p>
      <p>Cependant, Golf-Sud dispose du littoral atlantique, 4 km de plage transformable en 4 km de reves et
        d’une zone humide (Technopole). Cette dernière est un potentiel touristique et économique enorme;
        Pour un meilleur cadre de vie, la Mairie décline les orientations suivantes : l’aménagement de la
        rocade de la Technopole, d’espaces verts et des 4 km de plage, la libération de la voie publique et la
        destruction des constructions irrégulières, le respect de la règlementation en matière de pollution, le
        renforcement de la protection de la zone côtière et de l’entretien des marchés, la création d’une
        fourrière municipale.</p>
      <div>
        <img class="w-50" src="assets/images/citerne-laveuse.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p class="fw-bold">Citernes laveuses</p>
      </div>


      <h6 class="text-center fw-bold">UTILISATION:</h6>
      <ul>
        <li>Arrosage des espaces verts communaux.</li>
        <li>Transport d’eau potable.</li>
        <li>Lavage haute pression des places publiques.</li>
      </ul>
      <h6 class="text-center fw-bold">CARACTERISTIQUES ET ACCESSOIRES :</h6>
      <ul>
        <li>Pour répondre à des besoins très spécifiques, tels que arrosage des espaces verts, ruelles, routes
          poussiéreuses, il est prévu une bouche de remplissage et une vanne de sortie sur le côté droit.</li>
        <li>Un trou d’homme sur la génératrice supérieure avec couvercle à ouverture et fermeture rapide pour le
          remplissage de la citerne, brises vagues, niveau d’eau.
          .</li>
        <li>Motopompe pour remplissage de la citerne, débit 500 à 1000 litres/min.</li>
        <li>Pompe centrifuge à deux étages pour lavage basse pression.</li>
        <li>Pompe à pistons pour lavage haute pression de 40 à 150 bars.</li>
        <li>Rampes de lavage à l’avant ou l’arrière de camion.</li>
        <li>Lance haute pression, diffuseurs de jet, dévidoirs avec flexible.</li>
      </ul>
      <div class="mt-2 mb-2 text-center">
        <img class="w-50" src="assets/images/drane-auto.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>

      <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne du cadre de vie</h6>
      <div class="table-responsive d-flex justify-content-center">
        <table class="table table-bordered table-striped w-50" style="height: 50vh;">
          <thead>
            <tr class="bg-gs">
              <th>Domaines</th>
              <th>Contraintes</th>
              <th>Potentialités</th>
              <th>Orientations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableCadreVie;let index = index">
              <td rowspan="5" *ngIf="index == 0" class="bg-gs" style="position: relative;">
                <div class="d-flex justify-content-center align-items-center fw-bold" style="width: 100%;">
                  Cadre de vie
                </div>
              </td>
              <td>
                <ul>
                  <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-2">
        <img class="w-50" src="assets/images/cadre-vie-gs.PNG" alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p class="fw-bold">Cartographie du cadre de vie de Golf-Sud</p>
      </div>
      <h6 class="fw-bold">Sports, loisirs et culture</h6>
      <h6 class="fw-bold">Sport et loisirs</h6>
      <p>Golf-Sud dispose d’un terrain destiné à la construction d’un stade omnisport, d’une façade maritime et
        d’une forte population jeune.</p>
      <p>La Mairie en partenariat avec les acteurs sportifs et les populations envisagent ce qui suit : la
        construction de terrains multifonctionels et de terrains synthétiques de football, l’aménagement de
        parcours sportifs sur une partie de la façade atlantique, l’aménagement du littoral atlantique et le
        relèvement de son niveau de sécurité, la mise sur pied d’un cadre de concertation et un code de
        conduite</p>

      <div class="mt-2 text-center">
        <img class="w-50" src="assets/images/cartographie-terrain.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p class="fw-bold">Cartographie des terrains et espaces de loisirs</p>
      </div>

      <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne des sports et loisirs
      </h6>
      <div class="table-responsive d-flex justify-content-center">
        <table class="table table-bordered table-striped w-50" style="height: 50vh;">
          <thead>
            <tr class="bg-gs">
              <th>Domaines</th>
              <th>Contraintes</th>
              <th>Potentialités</th>
              <th>Orientations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableTerritoire;let index = index">
              <td rowspan="5" *ngIf="index == 0" class="bg-gs" style="position: relative;">
                <div class="d-flex justify-content-center align-items-center fw-bold" style="width: 100%;">
                  Sport
                </div>
              </td>
              <td>
                <ul>
                  <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h6 class="fw-bold">Culture</h6>
        <p>Golf-Sud dispose d’un foyer sociocuturel et d’acteurs culturels très talentueux.
          Pour promouvoir le développement culturel, la commune en collaboration avec les acteurs culturels et
          les populations envisagent la construction d’un grand centre culturel, l’élaboration d’un agenda
          culturel, la capacitation des acteurs culturels et la création d’une base de données des acteurs et actions
          culturels</p>

        <div class="mt-1 text-center">
          <img class="w-50" src="assets/images/cartographie-culte.PNG"
            alt="carte de délimitation des quartiers de commune de Golf-Sud">
          <p class="fw-bold">Cartographie des lieux de culte</p>
        </div>
        <div>
          <h5 class="fw-bold" id="profil-economique">Profil économique</h5>
          <h6 class="fw-bold">Secteurs productifs</h6>
          <h6 class="fw-bold">Agriculture, élevage et pêche</h6>
          <p>
            Golf-Sud enrégistre une production relativement importante de produits maraichers et floraux et est
            pourvue de baux maraichers et de zones favorables à la pisciculture.
          </p>
          <p>
            La mairie en collaboration avec les acteurs de ses sous secteurs et les populations ont projeté le
            regroupement des commercants de ces sous-secteurs en GIE, la réhabilitation des baux maraichers et
            le développement de la pisciculture
          </p>
          <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne de l’agriculture, l’élevage et la
            pêche
          </h6>
          <div class="table-responsive d-flex justify-content-center">
            <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
              <thead>
                <tr class="bg-gs">
                  <th>Domaines</th>
                  <th>Contraintes</th>
                  <th>Potentialités</th>
                  <th>Orientations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableAgriElevagePeche;let index = index">
                  <td class="bg-gs">
                    {{item.domaines}}
                  </td>
                  <td>
                    <ul>
                      <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <h6 class="fw-bold">Artisanat</h6>
            <p>L’accès difficile au crédit, le cloisonnement des différents corps de métier, l’inexistence de cadres de
              promotion des produits artisanaux, le problème d’accès à l’information et au partenariat et un cadre de
              travail inappoprié plombent le développement de ce sous-secteur.</p>
            <p>
              Par ailleurs, la commune de Golf-Sud abrite plusieurs institutions financières et dispose de plusieurs
              corps de métier, d’un centre de formation en horticulture et de plusieurs centres de formation privés.
              Pour booster le développement de l’artisanat, la mairie en relation avec les professionnels de
              l’artisanat ont proposé les orientations suivantes : l’établissement de conventions avec les partenaires
              techniques et financiers, la mise en réseau des artisans, la création d’un cadre d’expression, de
              promotion et de partage, la construction et l’équipement d’un centre polyvalent de formation
              professionnelle.
            </p>
            <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne de l’artisanat
            </h6>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
                <thead>
                  <tr class="bg-gs">
                    <th>Domaines</th>
                    <th>Contraintes</th>
                    <th>Potentialités</th>
                    <th>Orientations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableArtisanat;let index = index">
                    <td rowspan="4" *ngIf="index == 0" class="bg-gs">
                      <div class="d-flex justify-content-center align-items-center fw-bold"
                        style="width: 100%;">
                        Sport
                      </div>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div>
            <h6 class="fw-bold">Tourisme</h6>
            <p>La non valorisation du littoral atlantique, la faible exploitation du technopole, l’insuffisance
              d’ équipements hôteliers et le dépôt sauvage d’ordures sur le littoral freinent le développement du
              tourisme local.</p>
            <p>
              Suite au diagnostic interne, la Mairie en concert avec les professionnels du tourisme ont fixé les
              orientations suivantes : l’aménagement du littoral atlantique et du technopole, la promotion du
              tourisme local, la sécurisation et l’entretien des sites.
            </p>
            <h6 class="fw-bold text-center">synthèse du diagnostic territorial interne du tourisme
            </h6>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
                <thead>
                  <tr class="bg-gs">
                    <th>Domaines</th>
                    <th>Contraintes</th>
                    <th>Potentialités</th>
                    <th>Orientations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableTourisme;let index = index">
                    <td rowspan="4" *ngIf="index == 0" class="bg-gs">
                      <div class="d-flex justify-content-center align-items-center fw-bold"
                        style="width: 100%;">
                        Tourisme
                      </div>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div>
            <h6 class="fw-bold">Commerce</h6>
            <p>La commune de Golf-Sud dispose de sept (7) marchés, d’un personnel constitué de surveillants de
              marchés et d’une commission technique halles et marchés.
            </p>
            <p>
              Par ailleurs, la vétusté des marchés et équipements marchands, l’occupation anarchique de la voie
              publique, l’insuffisance de sécurité au niveau des marchés, les problèmes de gestion des marchés, de
              recouvrement des taxes ralentissent les échanges au niveau de la commune.
            </p>
            <p>Pour le développement des échanges commerciaux, la Mairie, les commercants et les populations ont
              formulées les orientations suivantes : la modernisation des marchés, le désengorgement de la voie
              publique, la dotation des marchés en projecteurs, l’affectation de gardiens en nombre suffisant et la
              systématisation de l’abonnement mensuel.</p>

            <div class="mt-2">
              <p>Etat actuel des marchés :</p>
              <img class="w-50" src="assets/images/etat-marche-actuel.PNG"
                alt="carte de délimitation des quartiers de commune de Golf-Sud">
            </div>
            <div class="mt-2">
              <p>Nous tendons vers :</p>
              <img class="w-50" src="assets/images/vision-marche.PNG"
                alt="carte de délimitation des quartiers de commune de Golf-Sud">
            </div>
            <h6 class="fw-bold text-center">synthèse du diagnostic territorial interne du commerce
            </h6>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
                <thead>
                  <tr class="bg-gs">
                    <th colspan="2">Domaines</th>
                    <th>Contraintes</th>
                    <th>Potentialités</th>
                    <th>Orientations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableCommerce;let index = index">
                    <td rowspan="7" *ngIf="index == 0" class="bg-gs fw-bold">Commerce</td>
                    <td rowspan="5" *ngIf="index == 0" class="bg-gs fw-bold">
                      Marché
                    </td>
                    <td *ngIf="index == 5" class="bg-gs fw-bold">
                      Boutiques
                    </td>
                    <td *ngIf="index == 6" class="bg-gs fw-bold">
                      Boulangeries, Pharmacies,
                      banques, essenceries et
                      autres.
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-1 text-center">
              <img class="w-50" src="assets/images/cartographie-marche-boutique.PNG" alt="Cartographie des marchés et boutiques">
              <p class="fw-bold">Cartographie des marchés et boutiques</p>
            </div>
          </div>


          <div>
            <h6 class="fw-bold">Transport</h6>
            <p>Golf-Sud est pourvu d’un important parc automobile malgré l’étroitesse des routes.
              Toutefois, l’absence de panneaux de signalisation et le non-respect du code de la route sont les
              contraintes liées au transport
            </p>
            <p>
              L’élargissement des axes principaux, l’installation de panneaux de signalisation et la formation des
              conducteurs au civisme ainsi que leur sensibilisation au respect du code de la route constituent les
              orientations découlant du diagnostic interne de la commune.
            </p>

            <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne du transport
            </h6>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
                <thead>
                  <tr class="bg-gs">
                    <th>Domaines</th>
                    <th>Contraintes</th>
                    <th>Potentialités</th>
                    <th>Orientations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableTransport;let index = index">
                    <td rowspan="3" *ngIf="index == 0" class="bg-gs fw-bold">
                      <div class="d-flex justify-content-center align-items-center fw-bold"
                        style="width: 100%;">
                        Transport
                      </div>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mt-2 text-center">
              <p style="text-align: left;"><span class="fw-bold">Tracé du BRT</span><br><span> Lien vidéo du tracé du BRT</span>
                &nbsp;:&nbsp;<a href="https://youtu.be/paGKJyLFWBI">https://youtu.be/paGKJyLFWBI</a></p>
              <img class="w-50" src="assets/images/brt-gs.PNG" alt="Cartographie des marchés et boutiques">
            </div>
          </div>

          <div>
            <h6 class="fw-bold">Postes et télécommunications</h6>
            <p>Les réseaux des trois opérateurs de télécommunication sont accessibles (Orange, Tigo et Expresso). La
              commune renferme un poste technique de télécommunication et plusieurs antennes-relais de
              téléphonie mobile.
            </p>
          </div>


          <div>
            <h6 class="fw-bold">Entreprenariat local et Micro-finance</h6>
            <p>La commune de Golf-Sud renferme des institutions financières, des groupements d’intérêt
              économique (GIE) et des groupements de promotion féminine.
              La création d’une mutuelle communale d’épargne et de crédit municipale l’organisation d’une foire
              municipale sont les orientations déclinées par la Mairie, les entrepreneurs locaux et les populations à
              travers le diagnostic interne.
            </p>
            <h6 class="fw-bold text-center">Synthèse du diagnostic territorial interne de l’entreprenariat et de la micro-finance</h6>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table table-bordered table-striped" style="width: 75%;height: 50vh;">
                <thead>
                  <tr class="bg-gs">
                    <th>Domaines</th>
                    <th>Contraintes</th>
                    <th>Potentialités</th>
                    <th>Orientations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableFinance;let index = index">
                    <td rowspan="2" *ngIf="index == 0" class="bg-gs">
                      <div class="d-flex justify-content-center align-items-center fw-bold"
                        style="width: 100%;">
                        Entreprenariat local et Micro-Finance
                      </div>
                    </td>
                    <td *ngIf="index == 0" rowspan="2" class="bg-gs fw-bold">
                      <ul>
                        <li *ngFor="let contrainte of item.contraintes">{{contrainte }}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let potentialite of item.potentialites">{{potentialite}}</li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li *ngFor="let orientation of item.orientations">{{orientation}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>





        <!--  -->
        <!--  -->
        <!--  -->

      </div>
    </div>
  </div>
