<div class="row">
  <div class="col-12">
    <div class="d-flex flex-column align-items-center">
      <img src="assets/images/senegal.png" class="dp-sn" alt="Drapeau du S&eacute;n&eacute;gal" />
      <span class="d-flex fw-bold"><span class="text-capitalize">r&eacute;publique</span>&nbsp;du&nbsp;<span
          class="text-capitalize">s&eacute;n&eacute;gal</span></span>
      <span class="d-flex"><span class="text-capitalize">un peuple &ndash; un but &ndash; une foi</span></span>
      <span class="d-flex fw-bold"><span class="text-capitalize">r&eacute;gion</span>&nbsp;de&nbsp;<span
          class="text-capitalize">dakar</span></span>
      <span class="d-flex fw-bold"><span class="text-capitalize">d&eacute;partement</span>&nbsp;de&nbsp;<span
          class="text-capitalize">gu&eacute;diawaye</span></span>
      <span class="d-flex fw-bold" style="font-size: 22px;font-family:Georgia, 'Times New Roman', Times, serif"><span
          class="text-capitalize">commune</span>&nbsp;de&nbsp;<span class="text-capitalize">golf&dash;sud</span></span>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex mt-4 justify-content-center">
      <img src="assets/images/golf-map.PNG" style="height:300px;width: 50%;" alt="Golf Map" />
    </div>
    <div class="col-12 mt-2">
      <h4 class="fw-bold" id="accueil"><span class="text-capitalize">pr&eacute;sentation</span> de la&nbsp;<span
          class="text-capitalize">commune de&nbsp;</span><span class="text-capitalize">golf&ndash;sud&nbsp;</span></h4>
      <h5 class="fw-semibold" id="admin-geo"><span class="text-capitalize">Administration&nbsp;</span>et&nbsp;<span
          class="text-capitalize">G&eacute;ographie</span></h5>
      <h6>{{'R' | titlecase}}&eacute;f&eacute;rence juridique de cr&eacute;ation de la commune de {{'Golf Sud' |
        titlecase}}</h6>
      <p>Le Département de Guédiawaye a été conçu au départ pour accueillir les populations déguerpies de
        Dakar. Les premiers déplacements de ce type se situent aux environs de 1950-1951 avec la réalisation
        du plan directeur d’urbanisme de 1946. En 1990, la Commune de Guédiawaye fut séparée de la
        Commune de Pikine par décret n° 90-1134 du 08 octobre 1990. Golf Sud, en tant qu’entité territoriale,
        a été créée par décret n° 96-745 du 30 août 1996 instituant les Communes d’arrondissements dans la
        région de Dakar. Puis, avec l’avénement de l’Acte III de la Décentralisation (loi n° 2013-10 du 28
        décembre 2013 portant code général des collectivités locales),Golf Sud verra son statut évolué en
        Commune de plein exercice.</p>
      <h6>Limites géographiques et superficie</h6>
      <p>La commune de Golf Sud s’étend sur 5 km² avec une densité de 22 523 habitants au km2 pour une
        population de 92 345 habitants en 2015 et se situe au Nord-Ouest du département de Guédiawaye. Au
        plan géographique, Golf Sud se situe entre les longitudes 14°24 et 17°27 Ouest et les latitudes 14°44
        et 14° Nord.
        La commune est limitée à l'Est par la commune de Sam Notaire, à l'Ouest par les communes de
        Parcelles Assainies et de Patte d'oie, au Sud par les "Niayes" (département de pikine) et au Nord par
        l'océan Atlantique et la commune de Cambéréne.
        La commune de Golf Sud dispose d'une façade maritime longue de 4km et s'etend de la "cité Douane"
        à l'ouest à la "cité SHS" à l'est. Il faut aussi signaler que la commune de Golf Sud se trouve
        entiérement dans la zone naturelle des "Niayes"</p>
      <h6>Nombre de quartiers</h6>
      <p>La commune de Golf Sud est composé de six aires géographiques distinctes et constituées de
        lotissements et de cités construites par l’OHLM, la société HAMO et des promoteurs privés.
        La commune de Golf-Sud comprend 32 quartiers qui sont les suivants : la Cité Fayçal, la Cité Hamo
        II, Fadia 1, Fadia 2, Guentaba 1, Guentaba 2, les Parcelles Assainies de l’Unité 1 à l’Unité 6, Golf
        Sud Taiba, Golf Sud Champs de course, Golf Sud Rass mission, HLM Las Palmas, Fith Mith, Station
        10, Cité Ibrahima Diop Atépa, Cité des Douanes, Cité Hamo III, la Cité des Enseignants et la Cité
        SHS.</p>
      <div class="d-flex align-items-center flex-column">
        <img src="assets/images/carte-delimitation-quartier.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p>Carte de délimitation des quartiers de commune de Golf-Sud</p>
      </div>
      <h5 class="fw-semibold" id="caracteristique-socio-demo"><span class="text-capitalize">Caractéristiques&nbsp;</span>sociodémographiques</h5>
      <h6>Population</h6>
      <p>La commune de Golf Sud compte 118985 habitants en 2022 . Golf Sud est la commune la plus
        peuplée du département de Guédiawaye avec 28% de la population départementale.</p>
      <div class="d-flex align-items-center flex-column">
        <img src="assets/images/repatition-population-dep-gue.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
        <p>Répartition de la population du département de Guédiawaye
        </p>
      </div>
      <h6>Répartition de la population par sexe et par catégorie d’âge</h6>
      <p>L’étude démographique de la commune est marquée par :</p>
      <ul>
        <li>une population majoritairement féminine avec 52% de la population communale ;</li>
        <li> une population caractérisée par son extrême jeunesse avec plus de 55% de moins de 20 ans ;</li>
      </ul>
      <h6>Ethnies</h6>
      <p>La croissance démographique, l’ampleur des mouvements migratoires au bénéfice de la capitale et les
        fonctions économiques, politiques, administratives, culturelles vitales attribuées à la région de Dakar
        ont profondément modifié la structure spatiale et socio-ethnique de la Commune. Ainsi, on note une
        grande diversité ethnique dans la commune avec la présence de Wolof, Poulaar, Sérère, Diola,
        Mandingue, Soninké. Cette diversité ethnique peut être considérée comme un atout puisqu’elle est
        porteuse d’une richesse culturelle.
      </p>
      <h6>Religion</h6>
      <p>Les religions pratiquées sont l’islam et le chritianisme.
      </p>
      <h6>Emplois et dynamique de la population
      </h6>
      <p>La dynamique de la population repose sur deux déterminants : les mouvements naturels et les
        mouvements migratoires. Les mouvements naturels sont constitués des naissances et des décès mais,
        ils n’ont pas été pris en compte dans la collecte.
        L’essor démographique de la banlieue dakaroise est lié à l’attrait exercé par la capitale sur les
        populations de l’intérieur du pays et des pays limitrophes. L’apport migratoire annuel est considérable
        dans la commune, qui accueille des migrants à la recherche d’un travail. Ces migrants ont tendance à
        se fixer définitivement dans la Commune et sont rejoints par leurs familles qui elles mêmes vont
        s’adapter à leur nouveau cadre urbain en s’employant à des activités socio-économiques génératrices
        de revenues. Notons aussi que Golf Sud est une commune où vivent des poches de populations
        nécessiteuses.
      </p>
      <h5 class="fw-semibold" id="caracteristique-phy-hydro-clim"><span class="text-capitalize">Caractéristiques</span> physiques, hydrographiques et climatologiques</h5>
      <h6>Sols et relief</h6>
      <p>La commune est en bordure de mer et se caractérise par des sols dunaires et des cuvettes
        intermédiaires favorisant le développement de cultures maraichères et florales grâce à la proximité de
        la nappe phréatique.</p>
      <h6>Faune et flore</h6>
      <p>La commune de Golf Sud abrite une partie du technopole qui est créé par la loi n° 96-36 du 31/12/96.
        C’est une zone économique aménagée dont la vocation est d’accueillir des centres de recherche et
        d’enseignement ainsi que des entreprises tournées vers l’innovation technologique dans le but de
        promouvoir entre eux la synergie nécessaire à la création de richesse et d’emploi.
      </p>
      <h6>Climat</h6>
      <p>Golf Sud jouit d’un climat tropical caractérisé par une longue saison sèche de neuf (9) mois et une
        courte saison pluvieuse de trois (3) mois. Elle subit ainsi une forte influence de la mousson du SudOuest, vent
        venant de l’Océan Atlantique, très humide qui apporte la pluie. Sa position géographique
        confère à la localité un climat de type canarien avec des Alizés très doux.
      </p>
      <h6>Température</h6>
      <p>Les températures varient selon les saisons : Dakar connaît un climat très doux, du mois de novembre
        au mois d’avril avec une température moyenne de 22° environ. De mai à octobre, nous notons une
        température moyenne de 28° environ.
      </p>
      <h6>Pluviométrie</h6>
      <p>La pluviométrie est faible avec un trend stationaire. Golf Sud se trouve dans l’isohyète 300 mm. La
        pluviométrie de la région de Dakar fluctue suivant la période avec un pic au mois d’août comme le
        montre le graphique 1.4. On note une pluviométrie très faible aux mois de juin et d’octobre et
        relativement assez abondante entre juillet et septembre.
        On constate que la pluviométrie a connu une hausse en 2013 avec un record de 610 millimètres. La
        répartition pluviométrique montre que le mois d’août enregistre un peu moins de la moitié (48%) des
        précipitations annuelles mesurées dans la commune de Golf-Sud.
        En effet, c’est durant les mois d’août et de septembre que l’on relève 80% de la pluviométrie annuelle.
        La proximité de la nappe phréatique et le manque d’infrastructure d’évacuation des eaux pluviales font
        que la commune de Golf Sud est confrontée à un problème d’inondation dans certains points bas
        pendant la saison pluvieuse (août et septembre).
      </p>
      <div class="d-flex align-items-center flex-column">
        <img src="assets/images/pluviometrie.PNG"
          alt="carte de délimitation des quartiers de commune de Golf-Sud">
      </div>
    </div>
  </div>
</div>
