<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-gs sidebar scrollarea collapse">
  <div class="position-sticky pt-3">
    <ul class="list-unstyled ps-0">
      <li class="mb-1" *ngFor="let navigation of navigations">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" style="text-align: left;" [routerLink]="navigation.path" [attr.data-bs-target]="'#'+navigation.collapseId" aria-expanded="false">
          {{navigation.label}}
          <span><i class="fa-solid fa-chevron-left"></i></span>
        </button>
        <div class="collapse" [id]="navigation.collapseId">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li *ngFor="let child of navigation.children"><a [href]="navigation.path+'#'+child.path"
                class="link-dark d-inline-flex text-decoration-none rounded">{{child.label}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
